.about-us {
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.about {
    margin-bottom: 20px;
}
.about-us .about .about-heading {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    padding-top: 15px;

}

.about-us .about .about-para {
    text-align: justify;
    line-height: 1.8;
    margin-top: 10px;
    padding-top: 5px;
}






/*==========---------- Conatct Us-----------=============*/
.cont-us {
    width: 50%;
    margin-left: 25%;
    /* border: 3px solid red; */
    text-align: center;
    padding: 25px 5px; 
}

.cont-head {
    font-size: 28px;
    padding-bottom: 20px;
}

.cont-form {
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px;
    border-radius: 25px;
    width: 70%;
}

.form-submit {
    font-size: 20px;
    background-color: blue;
    color: white;
    padding: 15px 40px;
    margin: 10px;
    border-radius: 20px;
    margin-left: 40%;
}


/*================Blog Section=====================*/

.blog-section {
    display: flex;
    width: 80%;
    margin-left: 10%;
    border: 2px solid yellow;
}

.blog-section div {
    border: 5px solid red;
    margin: 10px;
    padding: 5px;
}

.blog-section div img {
    width: 400px;

}

