.about-us {
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.about {
    margin-bottom: 20px;
}
.about-us .about .about-heading {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    padding-top: 15px;

}

.about-us .about .about-para {
    text-align: justify;
    line-height: 1.8;
    margin-top: 10px;
    padding-top: 5px;
}






/*==========---------- Conatct Us-----------=============*/
.inputs {
    border: 5px solid red;
}